<div class="task <%= task_class(task) %>">
  <div>
    <h2><%= task.title %></h2>
    <p><%= task.description %></p>
  </div>
  <p class="due"><%= get_task_time(task) %></p>

  <div class="actions">
    <%= button_to "Mark as #{task.completed? ? "undone" : "done"}",
                  toggle_task_path(task),
                  method: :put,
                  class: "actions #{task.completed? ? "undone" : "done"}" %>
  </div>
</div>