<div class="tasks">
  <div class="task-form">
    <div class="error">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li class="error-msg"> <%= msg %> </li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'Homepage', tasks_path %>
    <h1>Add a new task</h1>

    <%= form_for @task do |f| %>
      <p class="input-row">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </p>

      <p class="input-row">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </p>

      <p class="input-row">
        <%= f.label :deadline %>
        <%= f.datetime_field :deadline, min: Date.today %>

      <p class="input-row">
        <%= f.submit "Create Task" %>
      </p>
    <% end %>
  </div>
</div>