<div class="tasks">
  <div class="task-form">

    <%= @task.object_id %>
    <%= @task.errors.count %>
    <div class="error">
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li class="error-msg"> <%= msg %> </li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'Homepage', tasks_path %>
    <h1> Add a new task </h1>

    <%= simple_form_for @task, turbo: false do |f| %>
      <%= f.input :title, required: true %>
      <%= f.input :description, required: true %>
      <%= f.datetime_field :deadline, min: Date.today %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>